NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_INFURA_ID=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
NEXT_PUBLIC_ADSENSE_SLOT_ID=
NEXT_PUBLIC_SENTRY_AUTH_TOKEN=
GOOGLE_AI_API_KEY=
OWNER_PRIVATE_KEY=
OWNER_ADDRESS=
NEXT_PUBLIC_MOVIN_EARN_CONTRACT_ADDRESS=
# NEXT_PUBLIC_DISABLE_SERVICE_WORKER=true
NEXT_PUBLIC_1INCH_API_KEY=
NEXT_PUBLIC_GRAPH_API_KEY=
GOOGLE_AI_MODEL_NAME=